<%= form_tag(admin_data_search_path(:klass=>klass), :method => 'get', :class => 'form search_form', :id => 'search') %>   
  <div class='search_box'>
    <div id='quick_search'>
      <%= label_tag 'tbd', 'search keyword', :class => 'label keyword_label' %> 
      <%= text_field_tag 'query', params[:query], :id => 'quick_search_input' %>
      <%= render :partial => 'admin_data/search/search/sortby', :locals => {:klass => klass} %>

      <div class='clear'></div>

      <%= submit_tag 'Search', :name => nil, :disable_with => 'searching ...', :class => 'submit_search' %>
    </div>
  </div>

</form>

<br />

